<!--denne filen er limt inn fra en lærer sin presentasjon, men tilpasset til prosjektet mitt-->
{% extends "base.html" %}

{% block content %}
<h2>Register new user</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <!-- utfyllingsfelt med brukernavn og passord-->
    {{ form.username.label }} {{ form.username }}<br>
    {{ form.password.label }} {{ form.password }}<br>
    <!-- submit-knapp som sender registrert info fra feltene over til app.py-->
    {{ form.submit }}
</form>
{% endblock %}
